<!DOCTYPE html>
<html>
<head>
<title>Scheduler</title>

<style>
	body {
	  background-color: khaki;
	}

    .links {
       width: 100%;
       background-color: white;
    }

	.links link {
	  width: 400px;
      
	}

	.header {
		border-style: solid;
		border-width: 0px 0px 1px 0px;
        background-color: violet;
	}
</style>

</head>

<body>
<style>
 .container {
   padding-left: 20px;
   background-color: white;
 }

</style>

<div class="header">
  <h1><font face="sans-serif">Admin, you can change data</font></h1>
</div>
<br />

<table class="link">
  <tr>	
	<td><link><a href="/names">Names</a><br></link></td>
   <tr>
	<td><link><a href="/properties">Properties</a><br></link></td>
   </tr>
</table>

<button onclick="window.location='/static/index'">Back</button><br>
</body>
</html>
