<!DOCTYPE html>
<html>
<head>
<title>Scheduler</title>

<style>
	body {
	  background-color: brown;
	}

    .buttons {
       width: 100%;
       background-color: maroon;
    }

	.buttons button {
	  width: 400px;
	}

	.header {
		border-style: solid;
		border-width: 0px 0px 1px 0px;
	}
</style>

</head>


<body>

<div class="header">
  <h1><font face="impact">Scheduler For Baobab Developers<font></h1>
</div>
<br />

<table class="buttons">
  <tr>	
	<td><button onclick="window.location='/admin/login'">Admin</button></td>
   <tr>
	<td><button onclick="window.location='/view/scheduler'">Schedule</button></td>
   </tr>
</table>
</body>
</html>


